---
http_interactions:
- request:
    method: get
    uri: https://bangingmeals.myshopify.com/admin/orders.json?created_at_max=2018-02-02T03:04:05%2B00:00&created_at_min=2018-01-02T03:04:05%2B00:00&limit=3&order=created_at%20DESC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NGVmNDgyNDIwZWJhN2RhNTFiNTA2NDQ1ZDU0MzYzMDA6YTEyYWY0ZmI5OGU0ZmQyODg2ZGViMGVkZDY3OGViYTU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '10'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '17117099'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '17117099'
      X-Shardid:
      - '10'
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1964568'
      X-Stats-Apipermissionid:
      - '3088711691'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Dc:
      - chi2,ash
    body:
      encoding: ASCII-8BIT
      string: '{"orders":[{"id":151057629195,"email":"ennaoj.kim@gmail.com","closed_at":null,"created_at":"2018-02-01T17:45:55-08:00","updated_at":"2018-02-01T17:45:56-08:00","number":935,"note":null,"token":"5dd74f96e0e168caf42715867c2653d5","gateway":"paypal","test":false,"total_price":"141.00","subtotal_price":"141.00","total_weight":0,"total_tax":"0.00","taxes_included":false,"currency":"USD","financial_status":"paid","confirmed":true,"total_discounts":"0.00","total_line_items_price":"141.00","cart_token":"14ee018bd3688af4d7b0aff1ffffbacf","buyer_accepts_marketing":false,"name":"#1935","referring_site":"","landing_site":"\/","cancelled_at":null,"cancel_reason":null,"total_price_usd":"141.00","checkout_token":"5d13bb3ca9b762cd8ea6a2bbfa43696e","reference":null,"user_id":null,"location_id":null,"source_identifier":null,"source_url":null,"processed_at":"2018-02-01T17:45:55-08:00","device_id":null,"phone":null,"customer_locale":"en","app_id":580111,"browser_ip":"104.35.41.158","landing_site_ref":null,"order_number":1935,"discount_codes":[],"note_attributes":[],"payment_gateway_names":["paypal"],"processing_method":"express","checkout_id":372399210507,"source_name":"web","fulfillment_status":null,"tax_lines":[],"tags":"","contact_email":"ennaoj.kim@gmail.com","order_status_url":"https:\/\/bangingmeals.myshopify.com\/17117099\/orders\/5dd74f96e0e168caf42715867c2653d5\/authenticate?key=8ebabd0e7dfb7e73b54c56691ee2427f","line_items":[{"id":267476664331,"variant_id":34792730123,"title":"Garlic
        Dijon Baked Salmon, Asparagus","quantity":3,"price":"11.00","sku":"","variant_title":"Brown
        Rice","vendor":"bangingmeals","fulfillment_service":"manual","product_id":9531949067,"requires_shipping":false,"taxable":false,"gift_card":false,"name":"Garlic
        Dijon Baked Salmon, Asparagus - Brown Rice","variant_inventory_management":null,"properties":[],"product_exists":true,"fulfillable_quantity":3,"grams":0,"total_discount":"0.00","fulfillment_status":null,"tax_lines":[{"title":"CA
        State Tax","price":"0.00","rate":0.0725},{"title":"Los Angeles County Tax","price":"0.00","rate":0.0225}],"origin_location":{"id":2761120139,"country_code":"US","province_code":"CA","name":"banginmeals","address1":"1123
        W. Herald St.","address2":"","city":"West Covina","zip":"91790"},"destination_location":{"id":10535239691,"country_code":"US","province_code":"CA","name":"Joanne
        Kim","address1":"404 Shatto Place","address2":"","city":"Los Angeles","zip":"90020"}},{"id":267476697099,"variant_id":32902964939,"title":"Chicken
        Fajita Bowl","quantity":3,"price":"9.00","sku":"","variant_title":"Brown Rice
        \/ Regular","vendor":"banginmeals","fulfillment_service":"manual","product_id":8609132107,"requires_shipping":false,"taxable":false,"gift_card":false,"name":"Chicken
        Faj[...]
[...]
