---
http_interactions:
- request:
    method: get
    uri: https://bangingmeals.myshopify.com/admin/orders.json?created_at_max=2018-02-12%2022:38:51%20-0800&created_at_min=2018-02-06%2006:38:51%20UTC&limit=2&order=created_at%20DESC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic NGVmNDgyNDIwZWJhN2RhNTFiNTA2NDQ1ZDU0MzYzMDA6YTEyYWY0ZmI5OGU0ZmQyODg2ZGViMGVkZDY3OGViYTU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '10'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '17117099'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '17117099'
      X-Shardid:
      - '10'
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1964568'
      X-Stats-Apipermissionid:
      - '3088711691'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Dc:
      - chi2,ash
    body:
      encoding: ASCII-8BIT
      string: '{"orders":[{"id":159555551243,"email":"12ichardvasak@gmail.com","closed_at":null,"created_at":"2018-02-10T09:35:32-08:00","updated_at":"2018-02-10T09:35:33-08:00","number":973,"note":null,"token":"f4c0c4538d0bd6ff0c7cb46cbbf54b09","gateway":"paypal","test":false,"total_price":"96.00","subtotal_price":"96.00","total_weight":0,"total_tax":"0.00","taxes_included":false,"currency":"USD","financial_status":"paid","confirmed":true,"total_discounts":"0.00","total_line_items_price":"96.00","cart_token":"98e89dc503e57e54a7e5e4cdc4f1f05e","buyer_accepts_marketing":false,"name":"#1973","referring_site":"https:\/\/www.google.com\/","landing_site":"\/","cancelled_at":null,"cancel_reason":null,"total_price_usd":"96.00","checkout_token":"d5fcc3a2c4e397978a3e380584959f3f","reference":null,"user_id":null,"location_id":null,"source_identifier":null,"source_url":null,"processed_at":"2018-02-10T09:35:32-08:00","device_id":null,"phone":null,"customer_locale":"en","app_id":580111,"browser_ip":"24.205.120.60","landing_site_ref":null,"order_number":1973,"discount_codes":[],"note_attributes":[],"payment_gateway_names":["paypal"],"processing_method":"express","checkout_id":395214815243,"source_name":"web","fulfillment_status":null,"tax_lines":[],"tags":"","contact_email":"12ichardvasak@gmail.com","order_status_url":"https:\/\/bangingmeals.myshopify.com\/17117099\/orders\/f4c0c4538d0bd6ff0c7cb46cbbf54b09\/authenticate?key=8cfd783315a3fe7f35dd6ced6a3e9c8c","line_items":[{"id":282060128267,"variant_id":3788043452427,"title":"Honey
        Garlic Shrimp and Broccoli","quantity":1,"price":"9.00","sku":"","variant_title":"","vendor":"bangingmeals","fulfillment_service":"manual","product_id":482916040715,"requires_shipping":false,"taxable":false,"gift_card":false,"name":"Honey
        Garlic Shrimp and Broccoli","variant_inventory_management":null,"properties":[],"product_exists":true,"fulfillable_quantity":1,"grams":0,"total_discount":"0.00","fulfillment_status":null,"tax_lines":[{"title":"CA
        State Tax","price":"0.00","rate":0.0725},{"title":"Los Angeles County Tax","price":"0.00","rate":0.0225}],"origin_location":{"id":2761120139,"country_code":"US","province_code":"CA","name":"banginmeals","address1":"1123
        W. Herald St.","address2":"","city":"West Covina","zip":"91790"}},{"id":282060161035,"variant_id":408292622347,"title":"Basil
        Pesto Shrimp, Broccoli","quantity":1,"price":"10.00","sku":"","variant_title":"Potato
        Medley \/ Regular","vendor":"bangingmeals","fulfillment_service":"manual","product_id":63948357643,"requires_shipping":false,"taxable":false,"gift_card":false,"name":"Basil
        Pesto Shrimp, Broccoli - Potato Medley \/ Regular","variant_inventory_management":null,"properties":[],"product_exists":true,"fulfillable_quantity"[...]
