---
http_interactions:
- request:
    method: post
    uri: https://bangingmeals.myshopify.com/admin/metafields.json
    body:
      encoding: UTF-8
      string: '{"metafield":{"key":"carbs","namespace":"banginmeals","value":255,"value_type":"integer"}}'
    headers:
      Authorization:
      - Basic NGVmNDgyNDIwZWJhN2RhNTFiNTA2NDQ1ZDU0MzYzMDA6YTEyYWY0ZmI5OGU0ZmQyODg2ZGViMGVkZDY3OGViYTU=
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '10'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '17117099'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '17117099'
      X-Shardid:
      - '10'
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1964568'
      X-Stats-Apipermissionid:
      - '3088711691'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Location:
      - https://bangingmeals.myshopify.com/admin/metafields/1095403569163
      X-Dc:
      - chi2,ash
    body:
      encoding: UTF-8
      string: '{"metafield":{"id":1095403569163,"namespace":"banginmeals","key":"carbs","value":255,"value_type":"integer","description":null,"owner_id":17117099,"created_at":"2018-02-11T00:21:26-08:00","updated_at":"2018-02-11T01:01:34-08:00","owner_resource":"shop"}}'
  recorded_at: Sun, 11 Feb 2018 09:01:34 GMT
recorded_with: VCR 4.0.0
